//Breakpoints

$mobile: 375px;
$desktop: 1440px;

//Primary

$lightRedCTAtext: hsl(356, 100%, 66%);
$veryLightRedHover: hsl(355, 100%, 74%);
$darkBlueHeadings: hsl(208, 49%, 24%);

//Neutral

$white: hsl(0, 0%, 100%);
$grayFooterText: hsl(240, 2%, 79%);
$GrayBlueBody: hsl(207, 13%, 34%);
$darkFooterBackground: hsl(240, 10%, 16%);

//Background gradient - Intro/CTA mobile nav:

$gradientVeryLightRed: hsl(13, 100%, 72%);
$lightRed: hsl(353, 100%, 62%);

//Background gradient - body:

$darkGrayBlueGradient: hsl(237, 17%, 21%);
$desaturateBlueGradient: hsl(237, 23%, 32%);

//Fonts

$overpassFont: "Overpass", sans-serif;
$ubuntuFont: "Ubuntu", sans-serif;

//attribution

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $ubuntuFont;
	font-size: 100%;
}

//header

.header {
	background-image: url("./images/bg-pattern-intro.svg"),
		linear-gradient(to top, $lightRed, $gradientVeryLightRed);
	background-size: contain;
	position: relative;
	color: $white;
	border-bottom-left-radius: 80px;
	padding-bottom: 6rem;

	&__menu,
	&__close {
		position: absolute;
		right: 2rem;
		top: 2.5rem;

		&.none {
			display: none;
		}
	}

	&__buttons {
		margin: 3rem auto 0 auto;
		width: 300px;
		text-align: center;
	}

	&__container {
		width: 70%;
		margin: 0 auto;
	}

	&__intro {
		font-size: 2rem;
		font-weight: 200;
		text-align: center;
		padding-top: 4rem;
	}

	&__para {
		font-size: 1rem;
		text-align: center;
		padding-top: 1rem;
	}
}

.logo {
	font-family: $overpassFont;
	font-size: 2.1rem;
	padding: 2rem 0 2rem 1.5rem;
}

.navbar {
	background: $white;
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0;
	text-align: center;
	border-radius: 10px;

	&.none {
		display: none;
	}

	&__login,
	&__signup {
		display: block;
		margin: 0 auto;
	}
}

.dropdown {
	&__btn {
		border: none;
		background-color: transparent;
		font-weight: 600;
		color: $darkBlueHeadings;
		font-size: 0.95rem;
		margin: 1rem 0;
	}

	&__content {
		width: 80%;
		margin: 1rem auto;
		background-color: lighten($grayFooterText, 15%);
		padding: 0.5rem 0;

		& a {
			display: block;
			text-decoration: none;
			color: darken($grayFooterText, 35%);
			font-weight: 500;
			margin: 1rem 0;
			font-size: 0.85rem;
		}

		&.none {
			display: none;
		}
	}

	&__arrow {
		margin-left: 5px;

		&.close {
			transform: rotate(180deg);
			transform-origin: center;
		}
	}
}

.line {
	height: 1px;
	background-color: $grayFooterText;
	width: 80%;
	margin: 1.5rem auto;
}

.login {
	text-decoration: none;
	color: $darkBlueHeadings;
	display: block;
	margin-bottom: 1rem;
	font-weight: 600;
}

.button {
	border-radius: 20px;
	font-size: 1rem;
	font-family: $ubuntuFont;
	width: 128px;
	border: none;
	padding: 0.75rem;
	font-weight: 600;
	margin: 0 5px;

	&--orange {
		background-image: linear-gradient(
			to right,
			$gradientVeryLightRed,
			$lightRed
		);
		color: white;
	}

	&--white {
		color: $lightRed;
	}

	&--transparent {
		background-color: transparent;
		border: 1px solid white;
		color: white;
	}
}
